:root {
  --light-green: #B2D1C9;
  --green: #5C9D8D;
  --bright-green: #3DF2C5;
  --light-gray: #56736C;
  --dark-gray: #404846;
  --dark-green: #25332F;
}

html {
  /* background-color: rgba(53, 53, 53, 0.884); */
  font-family: "Roboto", "sans-serif";
}

body {
  margin: 0;
}