:root {
  --bg-light: #e0cd9b;
  /* --blue: #3c787e; */
  --blue: #03637e;
  --light-blue: #accbe1;
  --red: #ee6352;
  /* --bg-dark: #262626; */
  --bg-dark: #444444;
  --section-margin: 5rem;
}

html {
  background-color: var(--bg-dark);
  color: whitesmoke;
  font-family: "Roboto", "sans-serif";
  max-width: 1300px;
  margin: 2rem auto;
}

body {
  margin: 0 5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section {
  border-radius: 10px;
}

.title {
  margin-top: 5rem;
  background-color: var(--bg-light);
  font-weight: 100;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 1rem 2rem;
  color: var(--blue);
}

h1 {
  font-weight: normal;
  font-size: 6rem;
}

h2 {
  font-weight: lighter;
  font-size: 3.5rem;
}

h3 {
  font-weight: normal;
  font-size: 3rem;
}

h4 {
  font-weight: normal;
  font-size: 2rem;
}

footer p {
  display: flex;
  text-align: center;
}
