nav {
  display: flex;
  justify-content: right;
  font-size: 1.7rem;
  background-color: var(--bg-light);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0.5rem 0;
}

nav a {
  margin: 0rem 0.5rem;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--gray-blue);
  border: solid transparent 2px;
}

nav a:hover {
  background-color: var(--faded-gray);
  border-radius: 10px;
}

.nav-selected {
  background-color: var(--faded-gray);
  border-radius: 10px;
  border: solid var(--gray-blue) 2px;
}

@media screen and (max-width: 1200px) {
  nav {
    border-radius: 0;
  }
}

@media screen and (max-width: 750px) {
  nav {
    /* width: auto; */
    justify-content: center;
  }

  nav a {
    /* float: left; */
    font-size: 1rem;
  }
}
