nav {
  display: flex;
  justify-content: right;
  font-size: 1.7rem;
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: .5rem;
}

nav a {
  margin: 0 .75rem;
  text-decoration: none;
  color: var(--dark-blue);
}

nav a:hover {
  border-bottom: solid var(--light-blue) 3px;
  animation: fadeIn 1s;
}

.nav-selected {
  border-bottom: var(--dark-blue) solid 3px;
}