.title {
  margin-bottom: 5rem;
}

h3,
h4 {
  display: inline;
}

.portfolio-element h4 {
  font-weight: lighter;
}

h5 {
  font-weight: lighter;
}

.portfolio-element {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.portfolio-element img {
  display: inline;
  max-width: 60%;
  margin-right: 2rem;
  float: left;
}

.portfolio-image-and-text {
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .portfolio-element h4 {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .portfolio-element h3 {
    font-size: 3rem;
  }
}